In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Initial Cleaning stage

In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
MONGOLOGIN = os.environ.get("MONGOLOGIN")
import pandas as pd
import pymongo

In [8]:
client = pymongo.MongoClient(MONGOLOGIN)
db = client['Database']
articlesMongo = db["articles"]
linksMongo = db["links"]
blockedLinksMongo = db['blocked_links']

articles_df = pd.DataFrame(list(articlesMongo.find()))

In [36]:
cleaned = pd.read_excel('cleaned.xlsx', index_col=0)
cleaned

,uid,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount,Invalid
0,covid_1,6374ae8bc8a337344e61280f,2022-10-27T21:30:00.272Z,https://www.cbc.ca/news/canada/newfoundland-la...,covid,"Q&A: Dr. Janice Fitzgerald on new variants, va...",google,since onset covid 19 pandemic march 2020 newfo...,577,NaN
1,covid_2,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",google,add potential swell covid 19 infection winter ...,731,NaN
2,covid_3,6374ae8bc8a337344e612813,2022-11-07T20:50:03Z,https://www.reuters.com/world/china/beijing-im...,covid,Beijing to improve COVID prevention policy ope...,google,beijing nov 7 reuters beijing improve way covi...,748,NaN
3,covid_4,6374ae8bc8a337344e612815,NaN,https://www.cnn.com/2022/11/07/china/china-zer...,covid,China doubles down on zero-Covid pledge as pub...,google,china reiterated unswerving commitment longsta...,1924,NaN
4,covid_5,6374ae8bc8a337344e612829,"Oct 17, 2022",https://www.gov.ca.gov/2022/10/17/governor-new...,covid,Governor Newsom to End the COVID-19 State of E...,google,published oct 17 2022california pandemic respo...,641,NaN
...,...,...,...,...,...,...,...,...,...,...
16309,donald trump_443,638dc20c6f39fded0f8bf127,NaN,https://www.wbal.com/article/594732/111/trumps...,donald trump,Trump's call to suspend Constitution not a 202...,duckduckgo,abc news washington republican ohio rep dave j...,1397,NaN
16310,donald trump_444,638dc2176f39fded0f8bf128,NaN,https://www.wgbh.org/news/national-news/2022/1...,donald trump,Former President Donald Trump announces he is ...,duckduckgo,donald trump tried overthrow result 2020 presi...,4612,NaN
16311,donald trump_445,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald trump,‘The Janes’ Directors On How Donald Trump Spur...,google,shortly donald trump became president united s...,3279,NaN
16312,donald trump_446,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald trump,Donald Trump's 2024 Presidential Campaign Is B...,duckduckgo,donald trump suddenly reminded 2016 political ...,2365,NaN
16313,donald trump_447,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald trump,Donald Trump's turbulence-filled launch,bing,donald trump team starting institute new syste...,4734,NaN

In [35]:
articles_df

,_id,pub_date,url,topic,headline,content,search_engine,uid
0,6374ae8bc8a337344e612806,2022-11-07T18:36:24-0500,https://www.cbsnews.com/boston/news/boston-uni...,covid,What's going on with the BU biolab COVID exper...,"By Paula EbbenNovember 7, 2022 / 6:36 PM ...",google,
1,6374ae8bc8a337344e612807,2022-10-17,https://www.nature.com/articles/s41562-022-014...,covid,Life expectancy changes since COVID-19 | Natur...,70k Accesses2333 AltmetricMetrics detailsThe C...,google,
2,6374ae8bc8a337344e612808,2022-11-07T05:22:28+0000,https://www.cnbc.com/2022/11/07/oil-markets-pr...,covid,Oil falls in choppy trade on mixed China Covid...,"Oil prices fell on Monday, paring gains after ...",google,
3,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",Add in a potential swell in COVID-19 infection...,google,
4,6374ae8bc8a337344e61280a,2022-11-06T23:14:25+0000,https://www.cnbc.com/2022/11/06/apple-warns-co...,covid,Apple warns Covid restrictions in China are hu...,In this articleApple said in a statement on Su...,google,
...,...,...,...,...,...,...,...,...
20334,638dc20c6f39fded0f8bf127,,https://www.wbal.com/article/594732/111/trumps...,donald+trump,Trump's call to suspend Constitution not a 202...,ABC News(WASHINGTON) -- Republican Ohio Rep. D...,duckduckgo,
20335,638dc2176f39fded0f8bf128,,https://www.wgbh.org/news/national-news/2022/1...,donald+trump,Former President Donald Trump announces he is ...,"Donald Trump, who tried to overthrow the resul...",duckduckgo,
20336,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald+trump,‘The Janes’ Directors On How Donald Trump Spur...,Shortly after Donald Trump became president of...,google,
20337,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald+trump,Donald Trump's 2024 Presidential Campaign Is B...,Donald Trump is suddenly being reminded it's n...,duckduckgo,
20338,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald+trump,Donald Trump's turbulence-filled launch,Donald Trump's team is starting to institute a...,bing,

In [71]:
out_df = pd.merge(articles_df, cleaned[['url', 'uid']], on='url', how="left")

In [72]:
cols = list(out_df)
# move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('uid_y')))
out_df = out_df.loc[:, cols]
out_df.pop('uid_x')
out_df

,uid_y,_id,pub_date,url,topic,headline,content,search_engine
0,covid_7,6374ae8bc8a337344e612806,2022-11-07T18:36:24-0500,https://www.cbsnews.com/boston/news/boston-uni...,covid,What's going on with the BU biolab COVID exper...,"By Paula EbbenNovember 7, 2022 / 6:36 PM ...",google
1,covid_8,6374ae8bc8a337344e612807,2022-10-17,https://www.nature.com/articles/s41562-022-014...,covid,Life expectancy changes since COVID-19 | Natur...,70k Accesses2333 AltmetricMetrics detailsThe C...,google
2,covid_30,6374ae8bc8a337344e612808,2022-11-07T05:22:28+0000,https://www.cnbc.com/2022/11/07/oil-markets-pr...,covid,Oil falls in choppy trade on mixed China Covid...,"Oil prices fell on Monday, paring gains after ...",google
3,covid_2,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",Add in a potential swell in COVID-19 infection...,google
4,covid_18,6374ae8bc8a337344e61280a,2022-11-06T23:14:25+0000,https://www.cnbc.com/2022/11/06/apple-warns-co...,covid,Apple warns Covid restrictions in China are hu...,In this articleApple said in a statement on Su...,google
...,...,...,...,...,...,...,...,...
20334,donald trump_443,638dc20c6f39fded0f8bf127,,https://www.wbal.com/article/594732/111/trumps...,donald+trump,Trump's call to suspend Constitution not a 202...,ABC News(WASHINGTON) -- Republican Ohio Rep. D...,duckduckgo
20335,donald trump_444,638dc2176f39fded0f8bf128,,https://www.wgbh.org/news/national-news/2022/1...,donald+trump,Former President Donald Trump announces he is ...,"Donald Trump, who tried to overthrow the resul...",duckduckgo
20336,donald trump_445,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald+trump,‘The Janes’ Directors On How Donald Trump Spur...,Shortly after Donald Trump became president of...,google
20337,donald trump_446,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald+trump,Donald Trump's 2024 Presidential Campaign Is B...,Donald Trump is suddenly being reminded it's n...,duckduckgo
20338,donald trump_447,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald+trump,Donald Trump's turbulence-filled launch,Donald Trump's team is starting to institute a...,bing

In [ ]:
out_df.to_excel('raw.xlsx')

In [48]:
cleaned[['uid', '_id']]

                    uid                       _id
0               covid_1  6374ae8bc8a337344e61280f
1               covid_2  6374ae8bc8a337344e612809
2               covid_3  6374ae8bc8a337344e612813
3               covid_4  6374ae8bc8a337344e612815
4               covid_5  6374ae8bc8a337344e612829
...                 ...                       ...
16309  donald trump_443  638dc20c6f39fded0f8bf127
16310  donald trump_444  638dc2176f39fded0f8bf128
16311  donald trump_445  638dc22d6f39fded0f8bf129
16312  donald trump_446  638dc23d6f39fded0f8bf12a
16313  donald trump_447  638dc2446f39fded0f8bf12b

[16314 rows x 2 columns]

In [ ]:
df = df.loc[~df.duplicated(['content'])]

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

stop_words = set(stopwords.words('english'))


for index, row in df.iterrows():
  word_tokens = word_tokenize(row.content)
  # converts the words in word_tokens to lower case and then checks whether
  #they are present in stop_words or not
  filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
  #with no lower case conversion
  filtered_sentence = []

  for w in word_tokens:
    if w not in stop_words:
      filtered_sentence.append(w)

  # Remove all the special characters
  document = re.sub(r'\W', ' ', str(filtered_sentence))

  # remove all single characters
  document = re.sub(r'\s+[a-zA-Z]\s+', ' ', document)

  # Remove single characters from the start
  document = re.sub(r'\^[a-zA-Z]\s+', ' ', document)

  # Substituting multiple spaces with single space
  document = re.sub(r'\s+', ' ', document, flags=re.I)

  # Converting to Lowercase
  document = document.lower()

  # Lemmatization
  document = document.split()


  stemmer = WordNetLemmatizer()
  document = [stemmer.lemmatize(word) for word in document]
  document = ' '.join(document)

  df.iloc[index]['cleaned_content'] = document

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df.shape

(16960, 8)

In [ ]:
df['cleaned_content'] = ""

<ipython-input-78-1d6729c317be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_content'] = ""

In [ ]:
df

,_id,pub_date,url,topic,headline,content,search_engine,cleaned_content
0,6374ae8bc8a337344e61280f,2022-10-27T21:30:00.272Z,https://www.cbc.ca/news/canada/newfoundland-la...,covid,"Q&A: Dr. Janice Fitzgerald on new variants, va...",Since the onset of the COVID-19 pandemic in Ma...,google,since onset covid 19 pandemic march 2020 newfo...
1,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",Add in a potential swell in COVID-19 infection...,google,add potential swell covid 19 infection winter ...
2,6374ae8bc8a337344e612813,2022-11-07T20:50:03Z,https://www.reuters.com/world/china/beijing-im...,covid,Beijing to improve COVID prevention policy ope...,"BEIJING, Nov 7 (Reuters) - Beijing will improv...",google,beijing nov 7 reuters beijing improve way covi...
3,6374ae8bc8a337344e612815,NaN,https://www.cnn.com/2022/11/07/china/china-zer...,covid,China doubles down on zero-Covid pledge as pub...,China has reiterated its unswerving commitment...,google,china reiterated unswerving commitment longsta...
4,6374ae8bc8a337344e612829,"Oct 17, 2022",https://www.gov.ca.gov/2022/10/17/governor-new...,covid,Governor Newsom to End the COVID-19 State of E...,"Published: Oct 17, 2022California's pandemic r...",google,published oct 17 2022california pandemic respo...
...,...,...,...,...,...,...,...,...
16955,638dc20c6f39fded0f8bf127,,https://www.wbal.com/article/594732/111/trumps...,donald+trump,Trump's call to suspend Constitution not a 202...,ABC News(WASHINGTON) -- Republican Ohio Rep. D...,duckduckgo,abc news washington republican ohio rep dave j...
16956,638dc2176f39fded0f8bf128,,https://www.wgbh.org/news/national-news/2022/1...,donald+trump,Former President Donald Trump announces he is ...,"Donald Trump, who tried to overthrow the resul...",duckduckgo,donald trump tried overthrow result 2020 presi...
16957,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald+trump,‘The Janes’ Directors On How Donald Trump Spur...,Shortly after Donald Trump became president of...,google,shortly donald trump became president united s...
16958,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald+trump,Donald Trump's 2024 Presidential Campaign Is B...,Donald Trump is suddenly being reminded it's n...,duckduckgo,donald trump suddenly reminded 2016 political ...
16959,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald+trump,Donald Trump's turbulence-filled launch,Donald Trump's team is starting to institute a...,bing,donald trump team starting institute new syste...

In [ ]:
tdf = df.drop(['content'], axis=1)
tdf

,_id,pub_date,url,topic,headline,search_engine,cleaned_content
0,6374ae8bc8a337344e61280f,2022-10-27T21:30:00.272Z,https://www.cbc.ca/news/canada/newfoundland-la...,covid,"Q&A: Dr. Janice Fitzgerald on new variants, va...",google,since onset covid 19 pandemic march 2020 newfo...
1,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",google,add potential swell covid 19 infection winter ...
2,6374ae8bc8a337344e612813,2022-11-07T20:50:03Z,https://www.reuters.com/world/china/beijing-im...,covid,Beijing to improve COVID prevention policy ope...,google,beijing nov 7 reuters beijing improve way covi...
3,6374ae8bc8a337344e612815,NaN,https://www.cnn.com/2022/11/07/china/china-zer...,covid,China doubles down on zero-Covid pledge as pub...,google,china reiterated unswerving commitment longsta...
4,6374ae8bc8a337344e612829,"Oct 17, 2022",https://www.gov.ca.gov/2022/10/17/governor-new...,covid,Governor Newsom to End the COVID-19 State of E...,google,published oct 17 2022california pandemic respo...
...,...,...,...,...,...,...,...
16955,638dc20c6f39fded0f8bf127,,https://www.wbal.com/article/594732/111/trumps...,donald+trump,Trump's call to suspend Constitution not a 202...,duckduckgo,abc news washington republican ohio rep dave j...
16956,638dc2176f39fded0f8bf128,,https://www.wgbh.org/news/national-news/2022/1...,donald+trump,Former President Donald Trump announces he is ...,duckduckgo,donald trump tried overthrow result 2020 presi...
16957,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald+trump,‘The Janes’ Directors On How Donald Trump Spur...,google,shortly donald trump became president united s...
16958,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald+trump,Donald Trump's 2024 Presidential Campaign Is B...,duckduckgo,donald trump suddenly reminded 2016 political ...
16959,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald+trump,Donald Trump's turbulence-filled launch,bing,donald trump team starting institute new syste...

In [ ]:


tdf.to_excel('/content/drive/MyDrive/Colab Notebooks/NLP project/cleaned.xlsx')

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/NLP project/cleaned.xlsx')

In [ ]:
df['wordcount'] = df['cleaned_content'].str.split().str.len()

In [ ]:
df

,Unnamed: 0,Unnamed: 0.1,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount
0,0,0,6374ae8bc8a337344e61280f,2022-10-27T21:30:00.272Z,https://www.cbc.ca/news/canada/newfoundland-la...,covid,"Q&A: Dr. Janice Fitzgerald on new variants, va...",google,since onset covid 19 pandemic march 2020 newfo...,577
1,1,1,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",google,add potential swell covid 19 infection winter ...,731
2,2,2,6374ae8bc8a337344e612813,2022-11-07T20:50:03Z,https://www.reuters.com/world/china/beijing-im...,covid,Beijing to improve COVID prevention policy ope...,google,beijing nov 7 reuters beijing improve way covi...,748
3,3,3,6374ae8bc8a337344e612815,NaN,https://www.cnn.com/2022/11/07/china/china-zer...,covid,China doubles down on zero-Covid pledge as pub...,google,china reiterated unswerving commitment longsta...,1924
4,4,4,6374ae8bc8a337344e612829,"Oct 17, 2022",https://www.gov.ca.gov/2022/10/17/governor-new...,covid,Governor Newsom to End the COVID-19 State of E...,google,published oct 17 2022california pandemic respo...,641
...,...,...,...,...,...,...,...,...,...,...
16309,16955,16955,638dc20c6f39fded0f8bf127,NaN,https://www.wbal.com/article/594732/111/trumps...,donald+trump,Trump's call to suspend Constitution not a 202...,duckduckgo,abc news washington republican ohio rep dave j...,1397
16310,16956,16956,638dc2176f39fded0f8bf128,NaN,https://www.wgbh.org/news/national-news/2022/1...,donald+trump,Former President Donald Trump announces he is ...,duckduckgo,donald trump tried overthrow result 2020 presi...,4612
16311,16957,16957,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald+trump,‘The Janes’ Directors On How Donald Trump Spur...,google,shortly donald trump became president united s...,3279
16312,16958,16958,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald+trump,Donald Trump's 2024 Presidential Campaign Is B...,duckduckgo,donald trump suddenly reminded 2016 political ...,2365
16313,16959,16959,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald+trump,Donald Trump's turbulence-filled launch,bing,donald trump team starting institute new syste...,4734

In [ ]:
df = df.loc[df.wordcount > 50]

In [ ]:
df

,Unnamed: 0,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount
0,0,6374ae8bc8a337344e61280f,2022-10-27T21:30:00.272Z,https://www.cbc.ca/news/canada/newfoundland-la...,covid,"Q&A: Dr. Janice Fitzgerald on new variants, va...",google,since onset covid 19 pandemic march 2020 newfo...,577.0
1,1,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",google,add potential swell covid 19 infection winter ...,731.0
2,2,6374ae8bc8a337344e612813,2022-11-07T20:50:03Z,https://www.reuters.com/world/china/beijing-im...,covid,Beijing to improve COVID prevention policy ope...,google,beijing nov 7 reuters beijing improve way covi...,748.0
3,3,6374ae8bc8a337344e612815,NaN,https://www.cnn.com/2022/11/07/china/china-zer...,covid,China doubles down on zero-Covid pledge as pub...,google,china reiterated unswerving commitment longsta...,1924.0
4,4,6374ae8bc8a337344e612829,"Oct 17, 2022",https://www.gov.ca.gov/2022/10/17/governor-new...,covid,Governor Newsom to End the COVID-19 State of E...,google,published oct 17 2022california pandemic respo...,641.0
...,...,...,...,...,...,...,...,...,...
16955,16955,638dc20c6f39fded0f8bf127,NaN,https://www.wbal.com/article/594732/111/trumps...,donald+trump,Trump's call to suspend Constitution not a 202...,duckduckgo,abc news washington republican ohio rep dave j...,1397.0
16956,16956,638dc2176f39fded0f8bf128,NaN,https://www.wgbh.org/news/national-news/2022/1...,donald+trump,Former President Donald Trump announces he is ...,duckduckgo,donald trump tried overthrow result 2020 presi...,4612.0
16957,16957,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald+trump,‘The Janes’ Directors On How Donald Trump Spur...,google,shortly donald trump became president united s...,3279.0
16958,16958,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald+trump,Donald Trump's 2024 Presidential Campaign Is B...,duckduckgo,donald trump suddenly reminded 2016 political ...,2365.0
16959,16959,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald+trump,Donald Trump's turbulence-filled launch,bing,donald trump team starting institute new syste...,4734.0

In [6]:
df.to_excel('/content/drive/MyDrive/Colab Notebooks/NLP project/cleaned.xlsx')

# Post-cleaned start-point

In [2]:
import pandas as pd
import pymongo
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/NLP project/cleaned.xlsx', index_col=0)

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/NLP project/cleaned_v2.xlsx'

## Func declaration

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

stop_words = set(stopwords.words('english'))

def clean_corpus(X):
  documents = []
  for sen in range(0, len(X)):
    
      # Remove all the special characters
      document = re.sub(r'\W', ' ', str(X[sen]))

      document = re.sub(r'\w*\d\w*', '', document)

      # remove all single characters
      document = re.sub(r'\s+[a-zA-Z]\s+', ' ', document)

      # Remove single characters from the start
      document = re.sub(r'\^[a-zA-Z]\s+', ' ', document)

      # Substituting multiple spaces with single space
      document = re.sub(r'\s+', ' ', document, flags=re.I)

      # Converting to Lowercase
      document = document.lower()

      # Lemmatization
      document = document.split()

      # stop word removal
      #document = remove_stop_words(document)

      from nltk.stem import WordNetLemmatizer

      stemmer = WordNetLemmatizer()
      document = [stemmer.lemmatize(word) for word in document]
      document = ' '.join(document)

      documents.append(document)

  return documents

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

def create_top_words_file(df):
  # Loop all topics and generate csv with top 100 words
  for topic in df['topic'].unique():
    sub_df = df['cleaned_content'].loc[df['topic'] == topic]
    sub_df = sub_df.reset_index(drop=True)
    cleaned = clean_corpus(sub_df)
    vectorizer = CountVectorizer(stop_words=stopwords.words('english'))
    X_cv = vectorizer.fit_transform(cleaned).toarray()
    counts = np.zeros(len(X_cv[0]))

    for count, x in enumerate(X_cv.transpose()):
      counts[count] = x.sum()
    out = {}
    top_100_idx = np.argsort(counts)[-100:]
    top_100_values = [counts[i] for i in top_100_idx]

    for i in range(len(top_100_idx)):
      out[vectorizer.get_feature_names_out()[np.flip(top_100_idx)[i]]] = np.flip(top_100_values)[i]

    top_words_df = pd.DataFrame.from_dict(out, orient='index')

    top_words_df.to_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/_top_words_{topic}.csv')

In [ ]:
from collections import Counter
from nltk import ngrams

def create_ngram_file(df, n):
  for topic in df['topic'].unique():
    sub_df = df['cleaned_content'].loc[df['topic'] == topic]
    sub_df = sub_df.reset_index(drop=True)
    cleaned = clean_corpus(sub_df)
    ngram_counts = Counter()
    for row in cleaned:
      ngram_counts_temp = Counter(ngrams(row.split(), n))
      for x in ngram_counts_temp.keys():
        ngram_counts[x] = ngram_counts[x] + ngram_counts_temp[x]
    pd.DataFrame.from_records(ngram_counts.most_common(100),columns=[f'{n}-gram', 'count']).to_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_{n}_gram_{topic}.csv')

In [ ]:
from collections import Counter
nltk.download('averaged_perceptron_tagger')

def create_verb_file(df):
  for topic in df['topic'].unique():
    c = Counter()
    subset = df['cleaned_content'].loc[df['topic'] == topic]
    for row in subset:
      pos = nltk.pos_tag(row.split())
      for t in pos:
        if 'JJ' in t[1]:
          c[f'{t[0]}'] += 1
    pd.DataFrame.from_records(c.most_common(100),columns=[f'adjective', 'count']).to_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_adjective_{topic}.csv')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

## --

In [4]:
# Unique Labeling
df['uid'] = df['topic']
df['uid'] = df['uid'].astype(str) + '_' + df.groupby('topic').cumcount().add(1).astype(str)

In [5]:
df

,uid,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount
0,covid_1,6374ae8bc8a337344e61280f,2022-10-27T21:30:00.272Z,https://www.cbc.ca/news/canada/newfoundland-la...,covid,"Q&A: Dr. Janice Fitzgerald on new variants, va...",google,since onset covid 19 pandemic march 2020 newfo...,577
1,covid_2,6374ae8bc8a337344e612809,2022-11-06 12:00:56,https://www.sfchronicle.com/health/article/vir...,covid,"Bay Area could face COVID, flu and RSV in the ...",google,add potential swell covid 19 infection winter ...,731
2,covid_3,6374ae8bc8a337344e612813,2022-11-07T20:50:03Z,https://www.reuters.com/world/china/beijing-im...,covid,Beijing to improve COVID prevention policy ope...,google,beijing nov 7 reuters beijing improve way covi...,748
3,covid_4,6374ae8bc8a337344e612815,NaN,https://www.cnn.com/2022/11/07/china/china-zer...,covid,China doubles down on zero-Covid pledge as pub...,google,china reiterated unswerving commitment longsta...,1924
4,covid_5,6374ae8bc8a337344e612829,"Oct 17, 2022",https://www.gov.ca.gov/2022/10/17/governor-new...,covid,Governor Newsom to End the COVID-19 State of E...,google,published oct 17 2022california pandemic respo...,641
...,...,...,...,...,...,...,...,...,...
16309,donald trump_443,638dc20c6f39fded0f8bf127,NaN,https://www.wbal.com/article/594732/111/trumps...,donald trump,Trump's call to suspend Constitution not a 202...,duckduckgo,abc news washington republican ohio rep dave j...,1397
16310,donald trump_444,638dc2176f39fded0f8bf128,NaN,https://www.wgbh.org/news/national-news/2022/1...,donald trump,Former President Donald Trump announces he is ...,duckduckgo,donald trump tried overthrow result 2020 presi...,4612
16311,donald trump_445,638dc22d6f39fded0f8bf129,2022-12-04T18:00:00.000Z,https://www.yahoo.com/news/janes-directors-don...,donald trump,‘The Janes’ Directors On How Donald Trump Spur...,google,shortly donald trump became president united s...,3279
16312,donald trump_446,638dc23d6f39fded0f8bf12a,2022-11-30T21:00:11.000Z,https://www.yahoo.com/video/donald-trumps-2024...,donald trump,Donald Trump's 2024 Presidential Campaign Is B...,duckduckgo,donald trump suddenly reminded 2016 political ...,2365
16313,donald trump_447,638dc2446f39fded0f8bf12b,2022-11-29T21:47:20.000Z,https://www.yahoo.com/video/donald-trumps-turb...,donald trump,Donald Trump's turbulence-filled launch,bing,donald trump team starting institute new syste...,4734

In [ ]:
t = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_adjective_covid.csv', index_col=0)
t

    adjective  count
0       covid  24881
1         new  22061
2    pandemic  10214
3      public  10106
4        last   9205
..        ...    ...
95    biggest   1796
96  potential   1788
97     senior   1783
98    serious   1747
99   thursday   1740

[100 rows x 2 columns]

In [23]:
t2 = pd.DataFrame(columns=['rank', 'top word', 'adj', 'verb', 'noun', '2gram', '3gram', '4gram', '5gram'])

In [25]:
t2

    rank top word  adj verb noun 2gram 3gram 4gram 5gram
0      1      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
1      2      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
2      3      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3      4      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
4      5      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
..   ...      ...  ...  ...  ...   ...   ...   ...   ...
95    96      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
96    97      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
97    98      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
98    99      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
99   100      NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[100 rows x 9 columns]

In [24]:
import numpy as np

np.arange(100) + 1

t2['rank'] = np.arange(100) + 1

In [42]:
#for topic in ['covid']:
for topic in df['topic'].unique():
  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_top_words_{topic}.csv', index_col=0)
  t = t.reset_index()
  t['0'] = t['0'].astype(int)
  t['top word tuple'] = t[['index',"0"]].apply(tuple, axis=1)
  t2['top word'] = t['top word tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_adjective_{topic}.csv', index_col=0)
  t['adj tuple'] = t[["adjective","count"]].apply(tuple, axis=1)
  t2['adj'] = t['adj tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_verbs_{topic}.csv', index_col=0)
  t['verb tuple'] = t[["verb","count"]].apply(tuple, axis=1)
  t2['verb'] = t['verb tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_nouns_{topic}.csv', index_col=0)
  t['noun tuple'] = t[["noun","count"]].apply(tuple, axis=1)
  t2['noun'] = t['noun tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_2_gram_{topic}.csv', index_col=0)
  t['2gram tuple'] = t[["2-gram","count"]].apply(tuple, axis=1)
  t2['2gram'] = t['2gram tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_3_gram_{topic}.csv', index_col=0)
  t['3gram tuple'] = t[["3-gram","count"]].apply(tuple, axis=1)
  t2['3gram'] = t['3gram tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_4_gram_{topic}.csv', index_col=0)
  t['4gram tuple'] = t[["4-gram","count"]].apply(tuple, axis=1)
  t2['4gram'] = t['4gram tuple']

  t = pd.read_csv(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/_5_gram_{topic}.csv', index_col=0)
  t['5gram tuple'] = t[["5-gram","count"]].apply(tuple, axis=1)
  t2['5gram'] = t['5gram tuple']

  t2.to_excel(f'/content/drive/MyDrive/Colab Notebooks/NLP project/processed/compiled_{topic}.xlsx')

In [39]:
t2

,rank,top word,adj,verb,noun,2gram,3gram,4gram,5gram
0,1,"(covid, 89265)","(covid, 24881)","(said, 37972)","(covid, 47855)","(('covid', 'vaccine'), 7735)","(('may', 'earn', 'affiliate'), 3735)","(('may', 'earn', 'affiliate', 'commission'), 3...","(('may', 'earn', 'affiliate', 'commission', 'p..."
1,2,"(said, 37972)","(new, 22061)","(covid, 15442)","(health, 31184)","(('long', 'covid'), 5445)","(('earn', 'affiliate', 'commission'), 3732)","(('earn', 'affiliate', 'commission', 'purchase...","(('earn', 'affiliate', 'commission', 'purchase..."
2,3,"(health, 31184)","(pandemic, 10214)","(say, 9981)","(people, 28697)","(('public', 'health'), 4561)","(('affiliate', 'commission', 'purchase'), 3725)","(('affiliate', 'commission', 'purchase', 'some...","(('affiliate', 'commission', 'purchase', 'some..."
3,4,"(people, 28697)","(public, 10106)","(reported, 9352)","(vaccine, 24892)","(('covid', 'case'), 4415)","(('commission', 'purchase', 'something'), 3725)","(('commission', 'purchase', 'something', 'reco...","(('commission', 'purchase', 'something', 'reco..."
4,5,"(vaccine, 28499)","(last, 9205)","(including, 8032)","(case, 23113)","(('zero', 'covid'), 4063)","(('purchase', 'something', 'recommended'), 3725)","(('purchase', 'something', 'recommended', 'lin...","(('purchase', 'something', 'recommended', 'lin..."
...,...,...,...,...,...,...,...,...,...
95,96,"(research, 5648)","(biggest, 1796)","(lost, 1365)","(team, 3727)","(('covid', 'the'), 906)","(('since', 'start', 'pandemic'), 282)","(('tribune', 'content', 'agency', 'llc'), 180)","(('serve', 'people', 'south', 'carolina', 'bey..."
96,97,"(global, 5584)","(potential, 1788)","(hospitalized, 1363)","(county, 3687)","(('first', 'time'), 898)","(('the', 'white', 'house'), 281)","(('updated', 'covid', 'booster', 'shot'), 179)","(('year', 'news', 'world', 'report', 'named'),..."
97,98,"(resident, 5561)","(senior, 1783)","(started, 1344)","(point, 3678)","(('said', 'dr'), 874)","(('received', 'least', 'one'), 277)","(('content', 'agency', 'llc', 'microsoft'), 178)","(('news', 'world', 'report', 'named', 'musc'),..."
98,99,"(cdc, 5543)","(serious, 1747)","(show, 1343)","(support, 3675)","(('nursing', 'home'), 870)","(('article', 'originally', 'appeared'), 275)","(('agency', 'llc', 'microsoft', 'may'), 178)","(('world', 'report', 'named', 'musc', 'health'..."
99,100,"(measure, 5529)","(thursday, 1740)","(seeing, 1324)","(population, 3646)","(('last', 'month'), 865)","(('standard', 'the', 'thomson'), 274)","(('llc', 'microsoft', 'may', 'earn'), 178)","(('report', 'named', 'musc', 'health', 'no'), ..."

In [31]:
t.reset_index()

       index        0
0      covid  89265.0
1       said  37972.0
2     health  31184.0
3     people  28697.0
4    vaccine  28499.0
..       ...      ...
95  research   5648.0
96    global   5584.0
97  resident   5561.0
98       cdc   5543.0
99   measure   5529.0

[100 rows x 2 columns]

# Post-cleaned stage, touch ups

In [3]:
import pandas as pd
df = pd.read_excel(r"G:\My Drive\Colab Notebooks\NLP project\cleaned_v2.xlsx", index_col=0)

In [7]:
df = df.loc[~(df['Invalid'] == 1)]
df

,uid,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount,Invalid
9676,monkeypox_810,637e09294f434d9cf37c5a26,2022-11-17,https://www.qmul.ac.uk/media/news/2022/smd/fir...,monkeypox,- Queen Mary University of LondonFacebookTwitt...,bing,an international collaboration clinician estab...,607,NaN
1640,Donald Trump sent his own plane to transport 2...,6374ae8bc8a337344e612f16,2016-01-24T18:48:13+00:00,https://www.washingtonpost.com/blogs/liveblog-...,Donald Trump sent his own plane to transport 2...,- The Washington Post,google,we ve three day melting still lot snow road ma...,3447,NaN
722,china taiwan conflict_91,6374ae8bc8a337344e612aed,NaN,https://www.fmprc.gov.cn/eng/zxxx_662805/20220...,china taiwan conflict,​Statement by the Ministry of Foreign Affairs ...,google,on august disregard china strong opposition s...,1074,NaN
10351,russia_114,637ee27a982aaca4f90b1288,NaN,https://en.defence-ua.com/news/turning_washing...,russia,​Turning Washing Machines into Tornado-S and T...,href,the armed force russian federation received ba...,235,NaN
12227,russia_181,63807d659737d819e4c50c15,NaN,https://en.defence-ua.com/news/ukraines_air_de...,russia,​Ukraine’s Air Defense Forces Shot Down 51 of ...,href,that according statement air force command arm...,100,NaN
...,...,...,...,...,...,...,...,...,...,...
7956,monkeypox_763,637b6dbab8d6a467e0608d9a,NaN,https://www.who.int/zh/news/item/23-07-2022-se...,monkeypox,关于多国猴痘疫情的《国际卫生条例(2005)》突发事件委员会世界卫生组织世界卫生组织世界卫生...,href,推出鼓励儿童开展身体活动和锻炼身体的数字应用程序世卫组织强调口腔卫生被忽视问题影响到全球近半...,661,NaN
14109,pizzagate_382,6385f824faaec7e24ebf8a1a,NaN,https://pansci.asia/archives/321172,pizzagate,最成功也最危險！美國陰謀論之王：QAnon - PanSci 泛科學,google,編按 還記得今年年初 川普的支持者闖入美國國會大廈嗎 現場各處出現了 的旗幟 這些 代表的是...,1372,NaN
7953,monkeypox_761,637b6da9b8d6a467e0608d8b,NaN,https://www.who.int/zh/news-room/fact-sheets/d...,monkeypox,猴痘世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界...,href,推出鼓励儿童开展身体活动和锻炼身体的数字应用程序世卫组织强调口腔卫生被忽视问题影响到全球近半...,290,NaN
14114,pizzagate_387,6385f8bdfaaec7e24ebf8a22,NaN,https://theinitium.com/article/20221129-opinio...,pizzagate,華思睿：被馬斯克玩壞的Twitter，還能活多久？｜評論｜國際｜科技｜深度｜端傳媒 Init...,google,他一人就可以決定這個在全球擁有數億用戶的社交媒體平台的最終命運 沒有人可以阻擋他 他一人就可...,273,NaN
1624,Donald Trump sent his own plane to transport 2...,6374ae8bc8a337344e612f28,2021-08-31 02:14:15 AM,https://www.foxnews.com/live-news/live-updates...,Donald Trump sent his own plane to transport 2...,NaN,google,suicide bombing outside abbey gate kabul airpo...,3435,NaN

In [26]:
df.to_excel(r"G:\My Drive\Colab Notebooks\NLP project\cleaned_v2.xlsx")

In [11]:
df.loc[df['search_engine'] == 'href']

,uid,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount,Invalid
10351,russia_114,637ee27a982aaca4f90b1288,NaN,https://en.defence-ua.com/news/turning_washing...,russia,​Turning Washing Machines into Tornado-S and T...,href,the armed force russian federation received ba...,235,NaN
12227,russia_181,63807d659737d819e4c50c15,NaN,https://en.defence-ua.com/news/ukraines_air_de...,russia,​Ukraine’s Air Defense Forces Shot Down 51 of ...,href,that according statement air force command arm...,100,NaN
9948,russia_85,637e31eea48aa2486e7c5bf6,2022-11-22T15:46:01.000Z,https://news.yahoo.com/man-mothers-wives-russi...,russia,"""Are you a man or what? "": mothers and wives o...",href,the civil movement family member russian mobil...,2700,NaN
6797,brexit_552,637ae9e4c61d4e39b098a895,2021-06-23,https://es.euronews.com/2021/06/23/muchos-de-l...,brexit,"""Muchos de los problemas del Reino Unido sigue...",href,comparte esta noticiael líder del conservador ...,5585,NaN
6820,brexit_561,637aea72c61d4e39b098a943,2022-06-15,https://fr.euronews.com/my-europe/2022/06/15/n...,brexit,"""Nous serons très fermes, calmes, mais dans le...",href,partager cet articlel ukraine serum au cœur de...,4667,NaN
...,...,...,...,...,...,...,...,...,...,...
6984,brexit_620,637af2cdc61d4e39b098af07,2021-06-23,https://per.euronews.com/2021/06/23/brexit-cha...,brexit,نگاهی به چالش‌ها و پیامدهای برکسیت در پنجمین س...,href,هم ucرسانی این مطلب از زمان تصمیم بهت ucآور بر...,5332,NaN
7896,brexit_1063,637b6baad5a586abbe608791,2021-01-26,https://arabic.euronews.com/my-europe/2021/01/...,brexit,هذه هي الأسس التنظيمية لتحديد حصص الصيادين الأ...,href,شارك في هذا المقالتعتمد بلجيكا على قدر واسع في...,2470,NaN
6279,monkeypox_505,637abdf07e9bad29dbc2507d,NaN,https://www.who.int/zh/news/item/01-11-2022-th...,monkeypox,关于多国猴痘疫情的《国际卫生条例（2005）》突发事件委员会\n第三次会议的报告\n国际关注...,href,推出鼓励儿童开展身体活动和锻炼身体的数字应用程序世卫组织强调口腔卫生被忽视问题影响到全球近半...,1256,NaN
7956,monkeypox_763,637b6dbab8d6a467e0608d9a,NaN,https://www.who.int/zh/news/item/23-07-2022-se...,monkeypox,关于多国猴痘疫情的《国际卫生条例(2005)》突发事件委员会世界卫生组织世界卫生组织世界卫生...,href,推出鼓励儿童开展身体活动和锻炼身体的数字应用程序世卫组织强调口腔卫生被忽视问题影响到全球近半...,661,NaN
7953,monkeypox_761,637b6da9b8d6a467e0608d8b,NaN,https://www.who.int/zh/news-room/fact-sheets/d...,monkeypox,猴痘世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界卫生组织世界...,href,推出鼓励儿童开展身体活动和锻炼身体的数字应用程序世卫组织强调口腔卫生被忽视问题影响到全球近半...,290,NaN

In [16]:
df = df.loc[~(df['url'].str.contains('://fr.euro'))]

In [19]:
df = df.loc[~(df['url'].str.contains('://es.euro'))]

In [24]:
df = df.loc[~(df['url'].str.contains('ru.euronews'))]
df = df.loc[~(df['url'].str.contains('hu.euronews'))]
df = df.loc[~(df['url'].str.contains('it.euronews'))]
df = df.loc[~(df['url'].str.contains('pt.euronews'))]
df = df.loc[~(df['url'].str.contains('de.euronews'))]
df = df.loc[~(df['url'].str.contains('gr.euronews'))]
df = df.loc[~(df['url'].str.contains('per.euronews'))]
df = df.loc[~(df['url'].str.contains('fa.euronews'))]
df = df.loc[~(df['url'].str.contains('arabic.euronews'))]

In [25]:
df.loc[(df['url'].str.contains('euronews'))]

,uid,_id,pub_date,url,topic,headline,search_engine,cleaned_content,wordcount,Invalid
7119,brexit_700,637afbddc61d4e39b098bab7,2020-01-23,https://www.euronews.com/2020/01/23/brexit-fin...,brexit,‘Brexit finish line’ crossed as British parlia...,href,share articlerights group welcomed inspiration...,4226,NaN
8310,brexit_1429,637b8c11d5a586abbe60b222,2019-10-11,https://www.euronews.com/2019/10/11/watch-live...,brexit,‘Much work needed’ to secure Brexit deal ahead...,href,share articlea man stabbed three people shoppi...,4603,NaN
8273,brexit_1392,637b8960d5a586abbe60ac02,2019-09-03,https://www.euronews.com/2019/09/03/no-to-no-d...,brexit,‘No to no-deal Brexit’: the 21 Tory rebels who...,href,share articlesen joe manchin w va wo t seek an...,4090,NaN
5993,Emission trading scheme_419,637aaf8d325bba68bbc24c7a,2022-11-15,https://www.euronews.com/green/2022/11/15/not-...,Emission trading scheme,‘Not backtracking’: EU climate chief announces...,bing,olivier de schutter un special rapporteur extr...,4691,NaN
8351,brexit_1470,637b8fb2d5a586abbe60ba79,2020-02-19,https://www.euronews.com/2020/02/19/speak-engl...,brexit,"‘Speak English’ in order to work in UK, Britai...",href,share article passenger begin leaving quaranti...,4620,NaN
...,...,...,...,...,...,...,...,...,...,...
8298,brexit_1417,637b8b2fd5a586abbe60b009,2019-10-03,https://www.euronews.com/2019/10/03/why-is-bor...,brexit,Why is Boris Johnson’s latest Brexit plan a he...,href,share articlepoland janusz wojciechowski need ...,4631,NaN
8237,brexit_1356,637b861bd5a586abbe60a45b,2019-05-17,https://www.euronews.com//2019/05/17/why-is-fa...,brexit,Why is Farage's Brexit Party leading the polls...,href,share articletaipei taiwan taiwan legislature ...,4768,NaN
8426,brexit_1545,637b972cd5a586abbe60cc01,2021-01-28,https://www.euronews.com/my-europe/2021/01/28/...,brexit,Will the Netherlands fill the English-speaking...,href,share articleasylum attack european border un ...,4572,NaN
8394,brexit_1513,637b9301d5a586abbe60c1a7,2020-12-29,https://www.euronews.com/2020/12/29/will-there...,brexit,Will there be UK food import delays after fina...,href,share articlein village near salzburg austria ...,4223,NaN
7123,brexit_704,637afc36c61d4e39b098bbb5,2020-01-29,https://www.euronews.com/2020/01/29/brexit-mep...,brexit,'You'll be missed': Brexit deal approved by ME...,href,share articlebrexit architect nigel farage tol...,4748,NaN